cffi
cloudpickle
cycler
dask
decorator
imageio
kiwisolver
matplotlib
networkx==2.1
numpy
pandas
Pillow
pycparser
pygit
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
scikit-image
scikit-learn
scipy
six
toolz
torch
torchvision
tqdm
